In [105]:
# Import required libraries
from path import Path
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder, StandardScaler
from pybaseball import batting_stats
from pybaseball import batting_stats_range
from pybaseball import pitching_stats_range
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

### Analysing *batting_stats()* with different paramters

In [106]:
all_data_2019 = batting_stats(2019)
players_with_more_than_50 = batting_stats(2019, qual=50)
all_data_since_2015 = batting_stats(2015, 2019)
aggregated_data = batting_stats(2010, 2016, ind=0)

print(all_data_2019.head())
print(players_with_more_than_50.head())
print(all_data_since_2015.head())
print(aggregated_data.head())

    Season              Name       Team   Age      G     AB     PA      H  \
20  2019.0        Mike Trout     Angels  27.0  134.0  470.0  600.0  137.0
28  2019.0      Alex Bregman     Astros  25.0  156.0  554.0  690.0  164.0
19  2019.0  Christian Yelich    Brewers  27.0  130.0  489.0  580.0  161.0
32  2019.0    Cody Bellinger    Dodgers  23.0  156.0  558.0  660.0  170.0
83  2019.0     Marcus Semien  Athletics  28.0  162.0  657.0  747.0  187.0

       1B    2B  ...  wSL/C (pi)  wXX/C (pi)  O-Swing% (pi)  Z-Swing% (pi)  \
20   63.0  27.0  ...        2.44       -3.09          0.191          0.559
28   84.0  37.0  ...        1.28         NaN          0.169          0.552
19   85.0  29.0  ...        2.47         NaN          0.290          0.670
32   86.0  34.0  ...        1.00         NaN          0.262          0.654
83  104.0  43.0  ...       -1.01        3.31          0.218          0.628

    Swing% (pi)  O-Contact% (pi)  Z-Contact% (pi)  Contact% (pi)  Zone% (pi)  \
20        0.368            0.653            0.884          0.822       0.481
28        0.349            0.724            0.920          0.870       0.471
19        0.451            0.523            0.856          0.733       0.424
32        0.443            0.654            0.837          0.779       0.462
83        0.420            0.624            0.899          0.827       0.493

    Pace (pi)
20       23.6
28       26.0
19       25.5
32       24.7
83       21.7

[5 rows x 287 columns]
    Season              Name       Team   Age      G     AB     PA      H  \
1   2019.0        Mike Trout     Angels  27.0  134.0  470.0  600.0  137.0
3   2019.0      Alex Bregman     Astros  25.0  156.0  554.0  690.0  164.0
0   2019.0  Christian Yelich    Brewers  27.0  130.0  489.0  580.0  161.0
6   2019.0    Cody Bellinger    Dodgers  23.0  156.0  558.0  660.0  170.0
51  2019.0     Marcus Semien  Athletics  28.0  162.0  657.0  747.0  187.0

       1B    2B  ...  wSL/C (pi)  wXX/C (pi)  O-Swing% (pi)  Z-Swing% (pi)  \
1    63.0  27.0  ...        2.44       -3.09          0.191          0.559
3    84.0  37.0  ...        1.28         NaN          0.169          0.552
0    85.0  29.0  ...        2.47         NaN          0.290          0.670
6    86.0  34.0  ...        1.00         NaN          0.262          0.654
51  104.0  43.0  ...       -1.01        3.31          0.218          0.628

    Swing% (pi)  O-Contact% (pi)  Z-Contact% (pi)  Contact% (pi)  Zone% (pi)  \
1         0.368            0.653            0.884          0.822       0.481
3         0.349            0.724            0.920          0.870       0.471
0         0.451            0.523            0.856          0.733       0.424
6         0.443            0.654            0.837          0.779       0.462
51        0.420            0.624            0.899          0.827       0.493

    Pace (pi)
1        23.6
3        26.0
0        25.5
6        24.7
51       21.7

[5 rows x 287 columns]
     Season          Name       Team   Age      G     AB     PA      H     1B  \
110  2018.0  Mookie Betts    Red Sox  25.0  136.0  520.0  614.0  180.0   96.0
115  2018.0    Mike Trout     Angels  26.0  140.0  471.0  608.0  147.0   80.0
175  2016.0    Mike Trout     Angels  24.0  159.0  549.0  681.0  173.0  107.0
103  2015.0  Bryce Harper  Nationals  22.0  153.0  521.0  654.0  172.0   91.0
186  2015.0    Mike Trout     Angels  23.0  159.0  575.0  682.0  172.0   93.0

       2B  ...  wSL/C (pi)  wXX/C (pi)  O-Swing% (pi)  Z-Swing% (pi)  \
110  47.0  ...        1.93         NaN          0.185          0.535
115  24.0  ...        2.55       -5.67          0.198          0.555
175  32.0  ...       -0.40       -5.63          0.235          0.570
103  38.0  ...        2.70         NaN          0.281          0.677
186  32.0  ...        0.26       -1.68          0.247          0.531

     Swing% (pi)  O-Contact% (pi)  Z-Contact% (pi)  Contact% (pi)  Zone% (pi)  \
110        0.356            0.658            0.926          0.855       0.490
115        0.376            0.660            0.903          0.839       0.498
175        0.388            0.708            0.864          0.813       0.457
103        0.446            0.588            0.846          0.751       0.417
186        0.381            0.660            0.875          0.801       0.470

     Pace (pi)
110       23.3
115       23.3
175       23.3
103       24.4
186       23.3

[5 rows x 287 columns]
               Name    Team   Age       G      AB      PA       H     1B  \
69       Mike Trout  Angels  22.0   811.0  2997.0  3558.0   917.0  537.0
113    Buster Posey  Giants  26.0   892.0  3261.0  3675.0  1003.0  689.0
66   Miguel Cabrera  Tigers  30.0  1056.0  3932.0  4560.0  1299.0  787.0
102   Robinson Cano   - - -  30.0  1114.0  4355.0  4809.0  1335.0  848.0
96    Adrian Beltre   - - -  34.0  1039.0  4010.0  4383.0  1242.0  794.0

        2B    3B  ...  wSL/C (pi)  wXX/C (pi)  O-Swing% (pi)  Z-Swing% (pi)  \
69   175.0  37.0  ...        1.47        0.97          0.241          0.540
113  190.0   8.0  ...       -0.43       -4.27          0.266          0.625
66   270.0   5.0  ...        1.31        9.22          0.320          0.699
102  280.0  16.0  ...        1.62       -2.70          0.362          0.680
96   243.0  10.0  ...        0.80       -6.43          0.367          0.650

     Swing% (pi)  O-Contact% (pi)  Z-Contact% (pi)  Contact% (pi)  Zone% (pi)  \
69         0.384            0.688            0.869          0.810       0.480
113        0.442            0.758            0.907          0.861       0.490
66         0.493            0.670            0.878          0.804       0.456
102        0.509            0.725            0.929          0.851       0.462
96         0.499            0.753            0.902          0.843       0.466

     Pace (pi)
69        24.0
113       23.2
66        23.6
102       26.5
96        23.4

[5 rows x 286 columns]

# Conclusion for batting_stats()
Very versitile function that can take one or two years as parameters (single season or multiple seasons). It would return a dataframe with 287 columns with all the batting statistics for every single player for the whole season/seasons. A lot of statistics!

### Analysing *schedule_and_record()*

In [107]:
from pybaseball import schedule_and_record

Astros_record = schedule_and_record(2019, "HOU")
Astros_record.head(20)

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Thursday, Mar 28",HOU,@,TBR,W,5.0,1.0,9.0,1-0,2.0,1.0,Verlander,Snell,None,2:38,D,25025.0,1,None
2,"Friday, Mar 29",HOU,@,TBR,L,2.0,4.0,9.0,1-1,2.0,1.0,Morton,Cole,Alvarado,2:38,N,13059.0,-1,None
3,"Saturday, Mar 30",HOU,@,TBR,L,1.0,3.0,9.0,1-2,3.0,2.0,Glasnow,McHugh,Alvarado,2:40,N,16010.0,-2,None
4,"Sunday, Mar 31",HOU,@,TBR,L,1.0,3.0,9.0,1-3,4.0,3.0,Chirinos,Miley,Castillo,2:12,D,18473.0,-3,None
5,"Monday, Apr 1",HOU,@,TEX,W,2.0,1.0,9.0,2-3,4.0,3.0,Peacock,Sampson,Osuna,2:39,N,18056.0,1,None
6,"Tuesday, Apr 2",HOU,@,TEX,L,4.0,6.0,9.0,2-4,4.0,4.0,Kelley,Valdez,Leclerc,3:23,N,17907.0,-1,None
7,"Wednesday, Apr 3",HOU,@,TEX,L,0.0,4.0,9.0,2-5,4.0,4.5,Minor,Cole,None,2:39,N,22265.0,-2,None
8,"Friday, Apr 5",HOU,Home,OAK,W,3.0,2.0,9.0,3-5,4.0,3.5,McHugh,Montas,Osuna,3:03,N,43165.0,1,None
9,"Saturday, Apr 6",HOU,Home,OAK,W,6.0,0.0,9.0,4-5,4.0,3.5,Miley,Brooks,None,2:47,N,34487.0,2,None
10,"Sunday, Apr 7",HOU,Home,OAK,W-wo,9.0,8.0,9.0,5-5,2.0,3.5,Osuna,Treinen,None,3:39,D,34902.0,3,None
11,"Monday, Apr 8",HOU,Home,NYY,W,4.0,3.0,9.0,6-5,2.0,3.5,Pressly,Ottavino,Osuna,2:59,N,27631.0,4,None
12,"Tuesday, Apr 9",HOU,Home,NYY,W,6.0,3.0,9.0,7-5,2.0,3.5,Rondon,Green,Osuna,3:15,N,31009.0,5,None
13,"Wednesday, Apr 10",HOU,Home,NYY,W,8.0,6.0,9.0,8-5,2.0,3.5,McHugh,Paxton,Pressly,3:30,N,27685.0,6,None
14,"Friday, Apr 12",HOU,@,SEA,W,10.0,6.0,9.0,9-5,2.0,3.0,Peacock,Armstrong,Osuna,3:22,N,30972.0,7,None
15,"Saturday, Apr 13",HOU,@,SEA,W,3.0,1.0,9.0,10-5,2.0,2.0,Verlander,Hernandez,Osuna,2:46,N,30538.0,8,None
16,"Sunday, Apr 14",HOU,@,SEA,W,3.0,2.0,9.0,11-5,2.0,1.0,Cole,Brennan,Osuna,2:40,D,29242.0,9,None
17,"Tuesday, Apr 16",HOU,@,OAK,W,9.0,1.0,9.0,12-5,1.0,up 0.5,McHugh,Estrada,None,3:03,N,12270.0,10,None
18,"Wednesday, Apr 17",HOU,@,OAK,L,1.0,2.0,9.0,12-6,1.0,up 0.5,Montas,Miley,Treinen,2:29,N,11323.0,-1,None
19,"Friday, Apr 19",HOU,@,TEX,W,7.0,2.0,9.0,13-6,1.0,Tied,Verlander,Smyly,None,3:16,N,35649.0,1,None
20,"Saturday, Apr 20",HOU,@,TEX,L,4.0,9.0,9.0,13-7,2.0,1.0,Kelley,Cole,None,2:51,N,39636.0,-1,None

In [108]:
Astros_record.columns

Index(['Date', 'Tm', 'Home_Away', 'Opp', 'W/L', 'R', 'RA', 'Inn', 'W-L',
       'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance',
       'Streak', 'Orig. Scheduled'],
      dtype='object')

### Conclusion for schedule_and_record()
Very useful function that can get the players who played in each game, and also all the dates in which each a team played in a season, among others. It only has 19 columns, but this will be used as a *link* table between the others.

## Analysing *batting_stats_range()*

In [109]:
data_range = batting_stats_range("2019-09-01","2019-09-30")
data_range

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
1,Jose Abreu,32,42,MLB-AL,Chicago,25,114,98,17,28,...,4,0,3,4,0,0,0.286,0.360,0.520,0.880
2,Ronald Acuna Jr.,21,47,MLB-NL,Atlanta,20,86,73,20,17,...,0,0,0,1,6,1,0.233,0.349,0.507,0.856
3,Cristhian Adames,27,42,MLB-NL,San Francisco,10,24,22,1,7,...,0,0,0,0,0,0,0.318,0.375,0.364,0.739
4,Willy Adames,23,42,MLB-AL,Tampa Bay,24,83,74,11,20,...,0,0,1,1,0,1,0.270,0.337,0.459,0.797
5,Matt Adams,30,42,MLB-NL,Washington,10,30,29,1,4,...,0,0,0,1,0,0,0.138,0.167,0.138,0.305
6,Ehire Adrianza,29,59,MLB-AL,Minnesota,5,17,15,1,3,...,0,1,1,0,0,0,0.200,0.188,0.467,0.654
7,Dario Agrazal,24,46,MLB-NL,Pittsburgh,4,7,7,0,2,...,0,0,0,0,0,0,0.286,0.286,0.286,0.571
8,Jesus Aguilar,29,42,MLB-AL,Tampa Bay,14,30,24,2,5,...,0,0,2,1,0,0,0.208,0.300,0.458,0.758
9,Nick Ahmed,29,42,MLB-NL,Arizona,24,96,86,8,18,...,2,0,1,3,1,1,0.209,0.281,0.372,0.653
10,R.J. Alaniz,28,43,MLB-NL,Cincinnati,1,1,1,0,1,...,0,0,0,0,0,0,1.000,1.000,1.000,2.000
11,Hanser Alberto,26,42,MLB-AL,Baltimore,23,102,97,13,23,...,1,1,0,1,0,0,0.237,0.267,0.320,0.587
12,Ozzie Albies,22,42,MLB-NL,Atlanta,24,104,94,17,31,...,1,0,2,0,2,1,0.330,0.375,0.574,0.949
13,Sandy Alcantara,23,42,MLB-NL,Miami,6,16,15,0,0,...,0,1,0,0,0,0,0.000,0.000,0.000,0.000
14,Jorge Alfaro,26,42,MLB-NL,Miami,24,81,69,8,16,...,3,0,0,3,1,0,0.232,0.346,0.449,0.795
15,Anthony Alford,24,42,MLB-AL,Toronto,15,27,25,3,5,...,1,0,0,0,2,0,0.200,0.259,0.320,0.579
16,Austin Allen,25,46,MLB-NL,San Diego,8,18,17,1,2,...,0,0,0,1,0,0,0.118,0.167,0.118,0.284
17,Greg Allen,26,42,MLB-AL,Cleveland,23,50,46,4,10,...,1,0,0,0,3,0,0.217,0.280,0.239,0.519
18,Abraham Almonte,30,46,MLB-NL,Arizona,17,38,31,11,9,...,0,0,0,1,0,0,0.290,0.421,0.548,0.969
19,Albert Almora,25,43,MLB-NL,Chicago,16,20,18,2,2,...,0,0,0,1,0,0,0.111,0.200,0.111,0.311
20,Pete Alonso,24,42,MLB-NL,New York,27,118,106,22,26,...,2,0,0,2,0,0,0.245,0.322,0.585,0.907
21,Yonder Alonso,32,42,MLB-NL,Colorado,18,18,16,1,4,...,0,0,0,1,0,0,0.250,0.333,0.438,0.771
22,Jose Altuve,29,42,MLB-AL,Houston,23,95,90,12,25,...,0,0,0,2,1,1,0.278,0.316,0.544,0.860
23,Yordan Alvarez,22,42,MLB-AL,Houston,23,94,81,13,24,...,1,0,0,2,0,0,0.296,0.394,0.605,0.999
24,Chase Anderson,31,45,MLB-NL,Milwaukee,6,7,7,1,3,...,0,0,0,0,0,0,0.429,0.429,0.571,1.000
25,Tim Anderson,26,42,MLB-AL,Chicago,23,105,99,21,37,...,0,0,1,3,1,1,0.374,0.400,0.566,0.966
27,Matt Andriese,29,44,MLB-NL,Arizona,1,1,1,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
28,Elvis Andrus,30,42,MLB-AL,Texas,24,106,98,14,27,...,0,0,2,4,4,1,0.276,0.311,0.347,0.658
29,Aristides Aquino,25,42,MLB-NL,Cincinnati,27,110,102,9,20,...,0,0,2,1,5,0,0.196,0.236,0.382,0.619
30,Orlando Arcia,24,42,MLB-NL,Milwaukee,24,80,75,4,16,...,1,1,1,0,0,1,0.213,0.241,0.307,0.547
31,Nolan Arenado,28,44,MLB-NL,Colorado,21,91,76,12,26,...,0,0,0,1,1,0,0.342,0.451,0.671,1.122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,Jacob Waguespack,25,69,MLB-AL,Toronto,1,1,1,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
654,Adam Wainwright,37,43,MLB-NL,St. Louis,6,13,12,2,3,...,0,1,0,0,0,0,0.250,0.250,0.417,0.667
655,Christian Walker,28,42,MLB-NL,Arizona,24,94,81,14,19,...,1,0,0,3,0,0,0.235,0.340,0.469,0.810
656,Neil Walker,33,42,MLB-NL,Miami,20,62,53,8,14,...,0,0,0,1,1,0,0.264,0.371,0.453,0.824
657,Jared Walsh,25,43,MLB-AL,Los Angeles,16,47,41,3,7,...,2,0,0,0,0,0,0.171,0.277,0.366,0.642
658,Donnie Walton,25,42,MLB-AL,Seattle,7,19,16,2,3,...,0,0,0,0,0,1,0.188,0.316,0.188,0.503
659,Taylor Ward,25,42,MLB-AL,Los Angeles,13,37,32,3,7,...,0,0,0,1,0,0,0.219,0.324,0.375,0.699
660,Logan Webb,22,43,MLB-NL,San Francisco,4,7,6,0,1,...,0,1,0,0,0,0,0.167,0.167,0.167,0.333
661,Joey Wendle,29,42,MLB-AL,Tampa Bay,24,87,80,16,22,...,1,0,0,1,4,2,0.275,0.333,0.400,0.733
662,Zack Wheeler,29,45,MLB-NL,New York,5,12,11,0,1,...,0,1,0,0,0,0,0.091,0.091,0.091,0.182
663,Matt Wieters,33,46,MLB-NL,St. Louis,7,11,10,1,2,...,0,0,0,0,0,0,0.200,0.273,0.500,0.773
664,Stevie Wilkerson,27,42,MLB-AL,Baltimore,20,51,42,7,11,...,1,1,0,1,1,0,0.262,0.380,0.381,0.761
665,Mason Williams,27,54,MLB-AL,Baltimore,11,34,30,4,8,...,0,0,1,0,1,0,0.267,0.324,0.300,0.624
666,Nick Williams,25,42,MLB-NL,Philadelphia,7,5,5,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
667,Taylor Williams,27,56,MLB-NL,Milwaukee,2,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
668,Trevor Williams,27,42,MLB-NL,Pittsburgh,5,8,8,1,1,...,0,0,0,0,0,0,0.125,0.125,0.125,0.250
669,Bryse Wilson,21,68,MLB-NL,Atlanta,1,1,1,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
670,Tony Wolters,27,42,MLB-NL,Colorado,20,57,47,4,7,...,3,0,0,2,0,0,0.149,0.298,0.191,0.490
671,Kean Wong,24,45,MLB-AL,"Tampa Bay,Los Angeles",7,18,18,2,3,...,0,0,0,0,0,1,0.167,0.167,0.167,0.333
672,Kolten Wong,28,52,MLB-NL,St. Louis,18,76,69,10,20,...,0,3,1,1,5,1,0.290,0.315,0.420,0.735
673,Austin Wynns,28,42,MLB-AL,Baltimore,12,27,27,5,5,...,0,0,0,1,0,0,0.185,0.185,0.296,0.481
674,Jordan Yamamoto,23,45,MLB-NL,Miami,2,3,2,0,0,...,0,0,0,0,0,0,0.000,0.333,0.000,0.333
675,Mike Yastrzemski,28,42,MLB-NL,San Francisco,25,101,89,14,26,...,1,0,0,0,1,1,0.292,0.376,0.472,0.848
676,Christian Yelich,27,62,MLB-NL,Milwaukee,8,38,28,6,10,...,1,0,0,0,4,0,0.357,0.526,0.750,1.276
677,Alex Young,25,42,MLB-NL,Arizona,6,8,8,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
678,T.J. Zeuch,23,68,MLB-AL,Toronto,1,1,1,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
679,Bradley Zimmer,26,42,MLB-AL,Cleveland,9,14,13,1,0,...,0,0,0,0,0,0,0.000,0.071,0.000,0.071
680,Ryan Zimmerman,34,42,MLB-NL,Washington,19,58,53,8,15,...,0,0,0,3,0,0,0.283,0.345,0.472,0.817
681,Ben Zobrist,38,42,MLB-NL,Chicago,21,77,67,12,19,...,1,0,0,1,0,0,0.284,0.377,0.388,0.765
682,Mike Zunino,28,42,MLB-AL,Tampa Bay,13,26,26,3,3,...,0,0,0,1,0,0,0.115,0.115,0.231,0.346

In [110]:
print(data_range.columns)
print(all_data_2019.columns)

Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB',
       'CS', 'BA', 'OBP', 'SLG', 'OPS'],
      dtype='object')
Index(['Season', 'Name', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B',
       ...
       'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)',
       'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)',
       'Zone% (pi)', 'Pace (pi)'],
      dtype='object', length=287)

### Conclusion for *batting_stats_range()*

this functions returns a much smaller dataframe with only 27 columns. This will be useful to get the most recent information for each player right before each game.

# Let's look at all the columns for batting_stats() and batting_stats_range()

In [111]:
print(all_data_2019.columns[:95])

Index(['Season', 'Name', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B',
       'HR', 'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB',
       'CS', 'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes',
       'IFH', 'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO',
       'BABIP', 'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%',
       'wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN'],
      dtype='object')

In [112]:
print(all_data_2019.columns[95:190])

Index(['wFB/C', 'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C',
       'O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%', 'Z-Contact%',
       'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR', 'FA% (pfx)',
       'FT% (pfx)', 'FC% (pfx)', 'FS% (pfx)', 'FO% (pfx)', 'SI% (pfx)',
       'SL% (pfx)', 'CU% (pfx)', 'KC% (pfx)', 'EP% (pfx)', 'CH% (pfx)',
       'SC% (pfx)', 'KN% (pfx)', 'UN% (pfx)', 'vFA (pfx)', 'vFT (pfx)',
       'vFC (pfx)', 'vFS (pfx)', 'vFO (pfx)', 'vSI (pfx)', 'vSL (pfx)',
       'vCU (pfx)', 'vKC (pfx)', 'vEP (pfx)', 'vCH (pfx)', 'vSC (pfx)',
       'vKN (pfx)', 'FA-X (pfx)', 'FT-X (pfx)', 'FC-X (pfx)', 'FS-X (pfx)',
       'FO-X (pfx)', 'SI-X (pfx)', 'SL-X (pfx)', 'CU-X (pfx)', 'KC-X (pfx)',
       'EP-X (pfx)', 'CH-X (pfx)', 'SC-X (pfx)', 'KN-X (pfx)', 'FA-Z (pfx)',
       'FT-Z (pfx)', 'FC-Z (pfx)', 'FS-Z (pfx)', 'FO-Z (pfx)', 'SI-Z (pfx)',
       'SL-Z (pfx)', 'CU-Z (pfx)', 'KC-Z (pfx)', 'EP-Z (pfx)', 'CH-Z (pfx)',
       'SC-Z (pfx)', 'KN-Z (pfx)', 'wFA (pfx)', 'wFT (pfx)', 'wFC (pfx)',
       'wFS (pfx)', 'wFO (pfx)', 'wSI (pfx)', 'wSL (pfx)', 'wCU (pfx)',
       'wKC (pfx)', 'wEP (pfx)', 'wCH (pfx)', 'wSC (pfx)', 'wKN (pfx)',
       'wFA/C (pfx)', 'wFT/C (pfx)', 'wFC/C (pfx)', 'wFS/C (pfx)',
       'wFO/C (pfx)', 'wSI/C (pfx)', 'wSL/C (pfx)', 'wCU/C (pfx)',
       'wKC/C (pfx)', 'wEP/C (pfx)', 'wCH/C (pfx)', 'wSC/C (pfx)'],
      dtype='object')

In [113]:
print(all_data_2019.columns[190:])

Index(['wKN/C (pfx)', 'O-Swing% (pfx)', 'Z-Swing% (pfx)', 'Swing% (pfx)',
       'O-Contact% (pfx)', 'Z-Contact% (pfx)', 'Contact% (pfx)', 'Zone% (pfx)',
       'Pace', 'Def', 'wSB', 'UBR', 'Age Rng', 'Off', 'Lg', 'wGDP', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'TTO%', 'CH% (pi)',
       'CS% (pi)', 'CU% (pi)', 'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)',
       'SB% (pi)', 'SI% (pi)', 'SL% (pi)', 'XX% (pi)', 'vCH (pi)', 'vCS (pi)',
       'vCU (pi)', 'vFA (pi)', 'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)',
       'vSI (pi)', 'vSL (pi)', 'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)',
       'CU-X (pi)', 'FA-X (pi)', 'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)',
       'SB-X (pi)', 'SI-X (pi)', 'SL-X (pi)', 'XX-X (pi)', 'CH-Z (pi)',
       'CS-Z (pi)', 'CU-Z (pi)', 'FA-Z (pi)', 'FC-Z (pi)', 'FS-Z (pi)',
       'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)', 'SL-Z (pi)', 'XX-Z (pi)',
       'wCH (pi)', 'wCS (pi)', 'wCU (pi)', 'wFA (pi)', 'wFC (pi)', 'wFS (pi)',
       'wKN (pi)', 'wSB (pi)', 'wSI (pi)', 'wSL (pi)', 'wXX (pi)',
       'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)', 'wFA/C (pi)', 'wFC/C (pi)',
       'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)', 'wSI/C (pi)', 'wSL/C (pi)',
       'wXX/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)', 'Swing% (pi)',
       'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)', 'Zone% (pi)',
       'Pace (pi)'],
      dtype='object')

In [114]:
len(all_data_2019.columns)

287

In [115]:
len(data_range.columns)

27

### Let's see what columns in the smaller dataframe are also in the larger df

In [116]:
shared_columns = list(data_range.columns & all_data_2019.columns)

In [117]:
shared_columns

['Name',
 'Age',
 'G',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SH',
 'SF',
 'GDP',
 'SB',
 'CS',
 'OBP',
 'SLG',
 'OPS']

In [118]:
len(shared_columns)

23

### basically all of them. Only 4 are not included. Let's see which one are not in the larger df.

In [120]:
range_columns_not_in_all_data = list(data_range.columns.difference(all_data_2019.columns))
range_columns_not_in_all_data

['#days', 'BA', 'Lev', 'Tm']

# So #days is a useless column, BA is the same as AVG, Lev is useless too, and Tm is the same as Team. As a conclusion, all the columns are included.

In [121]:
Astros_2019stats  =  all_data_2019[all_data_2019["Team"]=="Astros"]

In [122]:
Astros_2019stats.count()

Season             20
Name               20
Team               20
Age                20
G                  20
AB                 20
PA                 20
H                  20
1B                 20
2B                 20
3B                 20
HR                 20
R                  20
RBI                20
BB                 20
IBB                20
SO                 20
HBP                20
SF                 20
SH                 20
GDP                20
SB                 20
CS                 20
AVG                20
GB                 20
FB                 20
LD                 20
IFFB               20
Pitches            20
Balls              20
                   ..
wCH (pi)           17
wCS (pi)            0
wCU (pi)           18
wFA (pi)           20
wFC (pi)           17
wFS (pi)           14
wKN (pi)            1
wSB (pi)            0
wSI (pi)           18
wSL (pi)           18
wXX (pi)            2
wCH/C (pi)         17
wCS/C (pi)          0
wCU/C (pi)         18
wFA/C (pi)         20
wFC/C (pi)         17
wFS/C (pi)         14
wKN/C (pi)          1
wSB/C (pi)          0
wSI/C (pi)         18
wSL/C (pi)         18
wXX/C (pi)          2
O-Swing% (pi)      19
Z-Swing% (pi)      20
Swing% (pi)        20
O-Contact% (pi)    19
Z-Contact% (pi)    20
Contact% (pi)      20
Zone% (pi)         20
Pace (pi)          20
Length: 287, dtype: int64

In [123]:
#Thursday, Mar 28
#"2019-03-28"
game_march_28_2019 = batting_stats_range("2019-03-28",)

In [124]:
game_march_28_2019["Tm"].unique

<bound method Series.unique of 1            Chicago
2            Atlanta
3          Tampa Bay
4         Washington
5          Milwaukee
6            Arizona
7          Baltimore
8            Atlanta
9              Miami
10         Cleveland
11           Chicago
12          New York
13           Chicago
14           Houston
15             Miami
16           Chicago
17             Texas
18          New York
19         Milwaukee
20          Colorado
21         St. Louis
22           Chicago
23       Los Angeles
24        Cincinnati
25         Cleveland
27           Seattle
28        Pittsburgh
29       Los Angeles
30     San Francisco
31            Boston
           ...
290         Colorado
291        San Diego
292      Los Angeles
293          Atlanta
294          Toronto
295        Milwaukee
296         New York
297      Los Angeles
298         New York
299      Los Angeles
300       Washington
301            Miami
302          Arizona
303           Boston
304      Los Angeles
305        Baltimore
306         New York
307       Cincinnati
308          Arizona
309            Miami
310        Tampa Bay
311          Houston
312     Philadelphia
313       Cincinnati
314        St. Louis
315        Milwaukee
316          Chicago
317       Washington
318          Chicago
319        Tampa Bay
Name: Tm, Length: 308, dtype: object>

In [125]:
game_march_28_2019[game_march_28_2019["Tm"]=="Houston"]

,Name,Age,#days,Lev,Date,Tm,,Opp,G,PA,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
14,Jose Altuve,29,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.500,0.50,1.500,2.000
40,Michael Brantley,32,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,1,0.500,0.50,1.250,1.750
42,Alex Bregman,25,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.000,0.00,0.000,0.000
67,Robinson Chirinos,35,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.333,0.50,0.667,1.167
87,Aledmys Diaz,28,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.000,0.00,0.000,0.000
125,Yuli Gurriel,35,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,1,0.500,0.50,0.750,1.250
173,Jake Marisnick,28,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.333,0.50,0.333,0.833
279,George Springer,29,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,5,...,0,0,0,0,0,0,0.200,0.20,0.800,1.000
311,Tyler White,28,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,4,...,0,0,0,0,0,0,0.250,0.25,0.250,0.500

## ...We can see who played in every game ^

In [126]:
game_march_28_2019.columns

Index(['Name', 'Age', '#days', 'Lev', 'Date', 'Tm', ' ', 'Opp', 'G', 'PA',
       'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH',
       'SF', 'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS'],
      dtype='object')

In [127]:
game_march_28_2019.iloc[:,6]

1      @
2      @
3
4
5
6      @
7      @
8      @
9
10     @
11     @
12     @
13     @
14     @
15
16     @
17
18
19
20     @
21     @
22     @
23
24
25     @
27
28     @
29
30     @
31     @
      ..
290    @
291
292
293    @
294
295
296
297    @
298
299
300
301
302    @
303    @
304
305    @
306
307
308    @
309
310
311    @
312
313
314    @
315
316    @
317
318    @
319
Name:  , Length: 308, dtype: object

### *"@"* means they're playing as *visitors*.

# Startegy:
### General Strategy:
Retrieve data for each player in each game played. Feed the model with data from past year for each player and past month. Build a dataframe where each row represents the features to train the model and to make predictions out of the model. 

Each row would have the full 283 features from past season plus the 23 from past month for each player that played the particular game plus 2 team features. 

### Specific Tasks

Usually there are 9 players, so there would be 9 times 283 features only to account for past season statistics of 1 team. So this number would be later mulitply also by 2 since each game involves 2 teams. We will use **schedule_and_record()** function to get the players who played in a game, so we can later use **batting_stats()** function to get those 283 features from last season for each player that played a particular game.

There will be also recent statistics from last month for each player as well, which is 22 features. Again this number would be multiply by 9 and then by 2. We will use **schedule_and_record()** function to get the players who played in that game, so we can later retrieve the past month statistics for each one of those players from **batting_stats_range()**.

There will be also statistics from the team to be included in each record such as streak, and GB, also gotten from **schedule_and_record()**.

### Conclusion
The training DataFrame will contain a record for each game of a single team and its opponent. This leads us to  **DataFrame with dimensions of 5494 columns by *Games-Played-By-The-Team* rows**. This is only batting statistics so far.

## Analysing *pitching_stats()*

In [128]:
from pybaseball import pitching_stats

pitching_stats_2019 = pitching_stats("2019")
pitching_stats_2019.head(15)

,Season,Name,Team,Age,W,L,ERA,WAR,G,GS,...,wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi)
94,2019.0,Gerrit Cole,Astros,28.0,20.0,5.0,2.50,7.4,33.0,33.0,...,1.88,NaN,0.340,0.646,0.498,0.481,0.751,0.662,0.516,22.9
85,2019.0,Jacob deGrom,Mets,31.0,11.0,8.0,2.43,7.0,32.0,32.0,...,2.24,NaN,0.365,0.696,0.529,0.536,0.791,0.702,0.495,24.2
214,2019.0,Lance Lynn,Rangers,32.0,16.0,11.0,3.67,6.8,33.0,33.0,...,NaN,NaN,0.283,0.674,0.486,0.607,0.800,0.746,0.518,25.1
124,2019.0,Max Scherzer,Nationals,34.0,11.0,7.0,2.92,6.5,27.0,27.0,...,3.99,NaN,0.360,0.675,0.522,0.495,0.779,0.684,0.516,25.0
96,2019.0,Justin Verlander,Astros,36.0,21.0,6.0,2.58,6.4,34.0,34.0,...,3.38,NaN,0.371,0.660,0.519,0.528,0.774,0.688,0.510,25.9
142,2019.0,Charlie Morton,Rays,35.0,16.0,6.0,3.05,6.1,33.0,33.0,...,1.60,NaN,0.322,0.614,0.473,0.523,0.825,0.726,0.517,22.9
164,2019.0,Stephen Strasburg,Nationals,30.0,18.0,6.0,3.32,5.7,33.0,33.0,...,-28.78,NaN,0.375,0.592,0.472,0.558,0.840,0.716,0.447,26.3
160,2019.0,Shane Bieber,Indians,24.0,15.0,8.0,3.28,5.6,34.0,33.0,...,1.29,NaN,0.352,0.625,0.477,0.480,0.854,0.705,0.459,22.7
127,2019.0,Zack Greinke,- - -,35.0,18.0,5.0,2.93,5.4,33.0,33.0,...,-0.49,-2.87,0.346,0.603,0.465,0.647,0.857,0.772,0.461,25.5
179,2019.0,Lucas Giolito,White Sox,24.0,14.0,9.0,3.41,5.1,29.0,29.0,...,0.24,NaN,0.291,0.684,0.493,0.545,0.763,0.700,0.514,25.3
158,2019.0,Walker Buehler,Dodgers,24.0,14.0,4.0,3.26,5.0,30.0,30.0,...,0.74,NaN,0.326,0.664,0.501,0.577,0.839,0.757,0.519,22.9
80,2019.0,Hyun-Jin Ryu,Dodgers,32.0,14.0,5.0,2.32,4.8,29.0,29.0,...,-0.70,NaN,0.364,0.641,0.493,0.635,0.851,0.766,0.465,24.7
157,2019.0,Patrick Corbin,Nationals,29.0,14.0,7.0,3.25,4.8,33.0,33.0,...,1.80,NaN,0.361,0.639,0.470,0.488,0.877,0.695,0.392,23.5
112,2019.0,Jack Flaherty,Cardinals,23.0,11.0,8.0,2.75,4.7,33.0,33.0,...,1.99,-3.87,0.335,0.649,0.479,0.559,0.805,0.712,0.459,24.5
271,2019.0,Zack Wheeler,Mets,29.0,11.0,8.0,3.96,4.7,31.0,31.0,...,1.08,NaN,0.318,0.682,0.506,0.685,0.841,0.794,0.516,23.8

In [129]:
pitching_stats_2019.columns

Index(['Season', 'Name', 'Team', 'Age', 'W', 'L', 'ERA', 'WAR', 'G', 'GS',
       ...
       'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)',
       'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)',
       'Zone% (pi)', 'Pace (pi)'],
      dtype='object', length=299)

In [130]:
pitching_stats_2019.columns[:100]

Index(['Season', 'Name', 'Team', 'Age', 'W', 'L', 'ERA', 'WAR', 'G', 'GS',
       'CG', 'ShO', 'SV', 'BS', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'HBP', 'WP', 'BK', 'SO', 'GB', 'FB', 'LD', 'IFFB', 'Balls', 'Strikes',
       'Pitches', 'RS', 'IFH', 'BU', 'BUH', 'K/9', 'BB/9', 'K/BB', 'H/9',
       'HR/9', 'AVG', 'WHIP', 'BABIP', 'LOB%', 'FIP', 'GB/FB', 'LD%', 'GB%',
       'IFFB%', 'HR/FB', 'IFH%', 'BUH%', 'Starting', 'Start-IP', 'Relieving',
       'Relief-IP', 'RAR', 'Dollars', 'tERA', 'xFIP', 'WPA', '-WPA', '+WPA',
       'RE24', 'REW', 'pLI', 'inLI', 'gmLI', 'exLI', 'Pulls', 'WPA/LI',
       'Clutch', 'FB%', 'FBv', 'SL%', 'SLv', 'CT%', 'CTv', 'CB%', 'CBv', 'CH%',
       'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%', 'PO%', 'wFB', 'wSL', 'wCT',
       'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C', 'wSL/C', 'wCT/C'],
      dtype='object')

In [131]:
pitching_stats_2019.columns[100:200]

Index(['wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%',
       'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%',
       'HLD', 'SD', 'MD', 'ERA-', 'FIP-', 'xFIP-', 'K%', 'BB%', 'SIERA',
       'RS/9', 'E-F', 'FA% (pfx)', 'FT% (pfx)', 'FC% (pfx)', 'FS% (pfx)',
       'FO% (pfx)', 'SI% (pfx)', 'SL% (pfx)', 'CU% (pfx)', 'KC% (pfx)',
       'EP% (pfx)', 'CH% (pfx)', 'SC% (pfx)', 'KN% (pfx)', 'UN% (pfx)',
       'vFA (pfx)', 'vFT (pfx)', 'vFC (pfx)', 'vFS (pfx)', 'vFO (pfx)',
       'vSI (pfx)', 'vSL (pfx)', 'vCU (pfx)', 'vKC (pfx)', 'vEP (pfx)',
       'vCH (pfx)', 'vSC (pfx)', 'vKN (pfx)', 'FA-X (pfx)', 'FT-X (pfx)',
       'FC-X (pfx)', 'FS-X (pfx)', 'FO-X (pfx)', 'SI-X (pfx)', 'SL-X (pfx)',
       'CU-X (pfx)', 'KC-X (pfx)', 'EP-X (pfx)', 'CH-X (pfx)', 'SC-X (pfx)',
       'KN-X (pfx)', 'FA-Z (pfx)', 'FT-Z (pfx)', 'FC-Z (pfx)', 'FS-Z (pfx)',
       'FO-Z (pfx)', 'SI-Z (pfx)', 'SL-Z (pfx)', 'CU-Z (pfx)', 'KC-Z (pfx)',
       'EP-Z (pfx)', 'CH-Z (pfx)', 'SC-Z (pfx)', 'KN-Z (pfx)', 'wFA (pfx)',
       'wFT (pfx)', 'wFC (pfx)', 'wFS (pfx)', 'wFO (pfx)', 'wSI (pfx)',
       'wSL (pfx)', 'wCU (pfx)', 'wKC (pfx)', 'wEP (pfx)', 'wCH (pfx)',
       'wSC (pfx)', 'wKN (pfx)', 'wFA/C (pfx)', 'wFT/C (pfx)', 'wFC/C (pfx)',
       'wFS/C (pfx)', 'wFO/C (pfx)', 'wSI/C (pfx)', 'wSL/C (pfx)',
       'wCU/C (pfx)', 'wKC/C (pfx)', 'wEP/C (pfx)'],
      dtype='object')

In [132]:
pitching_stats_2019.columns[200:]

Index(['wCH/C (pfx)', 'wSC/C (pfx)', 'wKN/C (pfx)', 'O-Swing% (pfx)',
       'Z-Swing% (pfx)', 'Swing% (pfx)', 'O-Contact% (pfx)',
       'Z-Contact% (pfx)', 'Contact% (pfx)', 'Zone% (pfx)', 'Pace', 'RA9-WAR',
       'BIP-Wins', 'LOB-Wins', 'FDP-Wins', 'Age Rng', 'K-BB%', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'kwERA', 'TTO%', 'CH% (pi)',
       'CS% (pi)', 'CU% (pi)', 'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)',
       'SB% (pi)', 'SI% (pi)', 'SL% (pi)', 'XX% (pi)', 'vCH (pi)', 'vCS (pi)',
       'vCU (pi)', 'vFA (pi)', 'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)',
       'vSI (pi)', 'vSL (pi)', 'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)',
       'CU-X (pi)', 'FA-X (pi)', 'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)',
       'SB-X (pi)', 'SI-X (pi)', 'SL-X (pi)', 'XX-X (pi)', 'CH-Z (pi)',
       'CS-Z (pi)', 'CU-Z (pi)', 'FA-Z (pi)', 'FC-Z (pi)', 'FS-Z (pi)',
       'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)', 'SL-Z (pi)', 'XX-Z (pi)',
       'wCH (pi)', 'wCS (pi)', 'wCU (pi)', 'wFA (pi)', 'wFC (pi)', 'wFS (pi)',
       'wKN (pi)', 'wSB (pi)', 'wSI (pi)', 'wSL (pi)', 'wXX (pi)',
       'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)', 'wFA/C (pi)', 'wFC/C (pi)',
       'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)', 'wSI/C (pi)', 'wSL/C (pi)',
       'wXX/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)', 'Swing% (pi)',
       'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)', 'Zone% (pi)',
       'Pace (pi)'],
      dtype='object')

### Aparanetly, we should use only the *(pi)* variables. They are calculated using a new algorythm that eliminates what Brooks Baseball considers errors from Pitch FX (pfx).

link: https://www.reddit.com/r/Sabermetrics/comments/6qepoa/what_is_the_data_source_for_nonattributed_plate/

In [133]:
pfx_col = [x for x in pitching_stats_2019.columns if "(pfx)" in x ]
pfx_col

['FA% (pfx)',
 'FT% (pfx)',
 'FC% (pfx)',
 'FS% (pfx)',
 'FO% (pfx)',
 'SI% (pfx)',
 'SL% (pfx)',
 'CU% (pfx)',
 'KC% (pfx)',
 'EP% (pfx)',
 'CH% (pfx)',
 'SC% (pfx)',
 'KN% (pfx)',
 'UN% (pfx)',
 'vFA (pfx)',
 'vFT (pfx)',
 'vFC (pfx)',
 'vFS (pfx)',
 'vFO (pfx)',
 'vSI (pfx)',
 'vSL (pfx)',
 'vCU (pfx)',
 'vKC (pfx)',
 'vEP (pfx)',
 'vCH (pfx)',
 'vSC (pfx)',
 'vKN (pfx)',
 'FA-X (pfx)',
 'FT-X (pfx)',
 'FC-X (pfx)',
 'FS-X (pfx)',
 'FO-X (pfx)',
 'SI-X (pfx)',
 'SL-X (pfx)',
 'CU-X (pfx)',
 'KC-X (pfx)',
 'EP-X (pfx)',
 'CH-X (pfx)',
 'SC-X (pfx)',
 'KN-X (pfx)',
 'FA-Z (pfx)',
 'FT-Z (pfx)',
 'FC-Z (pfx)',
 'FS-Z (pfx)',
 'FO-Z (pfx)',
 'SI-Z (pfx)',
 'SL-Z (pfx)',
 'CU-Z (pfx)',
 'KC-Z (pfx)',
 'EP-Z (pfx)',
 'CH-Z (pfx)',
 'SC-Z (pfx)',
 'KN-Z (pfx)',
 'wFA (pfx)',
 'wFT (pfx)',
 'wFC (pfx)',
 'wFS (pfx)',
 'wFO (pfx)',
 'wSI (pfx)',
 'wSL (pfx)',
 'wCU (pfx)',
 'wKC (pfx)',
 'wEP (pfx)',
 'wCH (pfx)',
 'wSC (pfx)',
 'wKN (pfx)',
 'wFA/C (pfx)',
 'wFT/C (pfx)',
 'wFC/C (pfx)',
 'wFS/C (pfx)',
 'wFO/C (pfx)',
 'wSI/C (pfx)',
 'wSL/C (pfx)',
 'wCU/C (pfx)',
 'wKC/C (pfx)',
 'wEP/C (pfx)',
 'wCH/C (pfx)',
 'wSC/C (pfx)',
 'wKN/C (pfx)',
 'O-Swing% (pfx)',
 'Z-Swing% (pfx)',
 'Swing% (pfx)',
 'O-Contact% (pfx)',
 'Z-Contact% (pfx)',
 'Contact% (pfx)',
 'Zone% (pfx)']

In [134]:
pitching_stats_2019.drop( columns = pfx_col, inplace=True )
pitching_stats_2019.columns

Index(['Season', 'Name', 'Team', 'Age', 'W', 'L', 'ERA', 'WAR', 'G', 'GS',
       ...
       'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)',
       'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)',
       'Zone% (pi)', 'Pace (pi)'],
      dtype='object', length=213)

In [135]:
from pybaseball import pitching_stats_range

pitching_range_1day = pitching_stats_range("2019-03-28",)

In [136]:
pitching_range_1day.head()

,Name,Age,#days,Lev,Date,Tm,,Opp,G,GS,...,Str,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W
1,Victor Alcantara,26,227,MLB-AL,"Mar 28, 2019",Detroit,@,Toronto,1,0,...,0.64,0.00,0.09,0.33,0.33,0.33,1.0,0.333,9.0,NaN
2,Nick Anderson,28,227,MLB-NL,"Mar 28, 2019",Miami,,Colorado,1,0,...,1.00,0.50,0.00,1.00,0.00,0.00,0.0,0.000,0.0,NaN
3,Luke Bard,28,227,MLB-AL,"Mar 28, 2019",Los Angeles,@,Oakland,1,0,...,0.80,0.10,0.20,0.00,0.33,0.33,1.0,0.333,9.0,NaN
4,Kyle Barraclough,29,227,MLB-NL,"Mar 28, 2019",Washington,,New York,1,0,...,0.64,0.14,0.07,0.33,0.67,0.00,1.0,0.333,0.0,NaN
5,Cam Bedrosian,27,227,MLB-AL,"Mar 28, 2019",Los Angeles,@,Oakland,1,0,...,0.86,0.14,0.14,0.33,0.00,0.00,0.0,0.000,0.0,NaN

In [137]:
pitchers_Astros_on_20190328 = pitching_range_1day[pitching_range_1day.Tm == "Houston"]
pitchers_Astros_on_20190328

,Name,Age,#days,Lev,Date,Tm,,Opp,G,GS,...,Str,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W
87,Roberto Osuna,24,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,0,...,0.56,0.22,0.00,0.0,0.00,0.0,0.000,0.000,9.0,NaN
92,Ryan Pressly,30,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,0,...,0.85,0.38,0.08,0.5,0.50,0.0,1.000,0.500,18.0,NaN
117,Justin Verlander,36,227,MLB-AL,"Mar 28, 2019",Houston,@,Tampa Bay,1,1,...,0.73,0.15,0.21,0.6,0.27,0.0,0.571,0.143,11.6,9.0

## So! we can know who pitched on a certain game ^

In [138]:
pitchers_Astros_on_20190328.columns

Index(['Name', 'Age', '#days', 'Lev', 'Date', 'Tm', ' ', 'Opp', 'G', 'GS', 'W',
       'L', 'SV', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'GSc',
       'AB', '2B', '3B', 'IBB', 'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit',
       'Str', 'StL', 'StS', 'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9',
       'SO/W'],
      dtype='object')

#### An idea is to keep columns that represent % of other columns. For example, keeping IFFB% but droping IFFB, since a percentage tells more of a story that an isolated scalar value. In this way, we can reduce redundancy in our features and, therefore, the total size of our features array.

In [139]:
bat_col_not_to_drop = [x for x in all_data_2019.columns if "%" in x and x[:-1] in all_data_2019.columns]
bat_col_not_to_drop

['BB%', 'LD%', 'GB%', 'FB%', 'IFFB%', 'IFH%', 'BUH%', 'SF%']

In [140]:
bat_col_to_drop = [x[:-1] for x in bat_col_not_to_drop]
bat_col_to_drop

['BB', 'LD', 'GB', 'FB', 'IFFB', 'IFH', 'BUH', 'SF']

In [141]:
pitch_col_not_to_drop = [x for x in pitching_stats_2019.columns if "%" in x and x[:-1] in pitching_stats_2019.columns]
pitch_col_not_to_drop

['LD%', 'GB%', 'IFFB%', 'IFH%', 'BUH%', 'FB%', 'BB%']

In [142]:
pitch_col_to_drop = [x[:-1] for x in pitch_col_not_to_drop]
pitch_col_to_drop

['LD', 'GB', 'IFFB', 'IFH', 'BUH', 'FB', 'BB']

In [143]:
all_data_2019.drop(columns=bat_col_to_drop, inplace=True)
pitching_stats_2019.drop(columns=pitch_col_to_drop, inplace=True)
print(f"Total columns in bat_statistics: {len(all_data_2019.columns)}\nTotal columns in pitch_statistics: {len(pitching_stats_2019.columns)} ")

Total columns in bat_statistics: 279
Total columns in pitch_statistics: 206

### ...We still have loooots of columns.


##### We will have to get rid of some columns manually that we consider unnecesary such as "Age" or "Team", etc. However, some of these columns might be useful during concatenation, so we will handle this in within the function that creates the dataframe.

## Let's explore how many pitcher there are per game usually

In [144]:
# let's grab our datframe created through record_and_schedule() previously for The Astros season 2019:
Astros_record.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Thursday, Mar 28",HOU,@,TBR,W,5.0,1.0,9.0,1-0,2.0,1.0,Verlander,Snell,None,2:38,D,25025.0,1,None
2,"Friday, Mar 29",HOU,@,TBR,L,2.0,4.0,9.0,1-1,2.0,1.0,Morton,Cole,Alvarado,2:38,N,13059.0,-1,None
3,"Saturday, Mar 30",HOU,@,TBR,L,1.0,3.0,9.0,1-2,3.0,2.0,Glasnow,McHugh,Alvarado,2:40,N,16010.0,-2,None
4,"Sunday, Mar 31",HOU,@,TBR,L,1.0,3.0,9.0,1-3,4.0,3.0,Chirinos,Miley,Castillo,2:12,D,18473.0,-3,None
5,"Monday, Apr 1",HOU,@,TEX,W,2.0,1.0,9.0,2-3,4.0,3.0,Peacock,Sampson,Osuna,2:39,N,18056.0,1,None

### We will have to convert the date format cuz these guys are assholes

In [216]:
date = Astros_record.Date[1]
#date = date.split(",")
date = re.findall(r"\w* [0-9][0-9]|[0-9]", date)
date = date[0]
print(date)
year = "2019"
date = year + " " + date
date

Mar 28

'2019 Mar 28'

In [147]:
import datetime as dt

In [156]:
date_formatted = dt.datetime.strptime(date,"%Y %b %d")
date_formatted

datetime.datetime(2019, 3, 28, 0, 0)

In [160]:
date_formatted.month

3

### it worked out, so now we know how

In [523]:
type(date_formatted)

datetime.datetime

# Building the Training DataFrame

In [695]:
from pybaseball import pitching_stats

def format_dates_to_dt(un_date="Monday, Dec 31", year=1999):
    date = re.findall(r"\W\w\w\w\s\d+", un_date)
    date = date[0]
    date = str(year) + date
    date_formatted = dt.datetime.strptime(date,"%Y %b %d")
    return date_formatted

In [475]:
def get_dates_played(df=None,year=None):
    
    dates_played = [format_dates_to_dt(date, year) for date in df.Date]
    return dates_played

In [721]:
def get_team_schedule(year=None, team = "HOU"):
    
    teams_df  = schedule_and_record(year, team)
    teams_df  = teams_df.iloc[ : , [0,1,2,3,10,17] ]
    teams_df["Date"] = teams_df.apply(lambda x: format_dates_to_dt(x["Date"],year), axis=1)
    teams_df.replace("@",1, inplace=True)
    teams_df.replace("Home",0, inplace=True)
    return teams_df


def get_players_per_game(year = 2019, team = "HOU"):
    
    schedule_df = get_team_schedule(year, team)
    
    bat_stat_path = Path(f"Data/Batting/Clean_Data/clean_batting_data_{year}.csv")
    all_bat_stats = pd.read_csv(bat_stat_path)
    
    players_df = pd.DataFrame()
    
    i = 0
    for date in schedule_df["Date"]:
        
        temp_dict = {"Date":date}
        #temp_dict.update({})
        
        #all_players_on_date = batting_stats_range(date.strftime("%Y-%m-%d"),)
        all_players_on_date = all_bat_stats[all_bat_stats["Date"]==date.strftime("%Y-%m-%d")] #[:9] to make sure we always have 9
        
        all_from_team = all_players_on_date[all_players_on_date.Tm == "Astros"][:9]
        
        count = 1   
        for player in all_from_team.Name: 
            temp_dict.update({f"player_{count:02}_{team}" : player})
            
            count+=1
            
        temp_df = pd.DataFrame(temp_dict, index =[i])
        
        players_df = pd.concat([players_df,temp_df], axis=0, sort = True )
        
        i+=1
        
    schedule_df.set_index("Date")
    players_df.set_index("Date")
    teams_df = pd.concat([schedule_df,players_df], axis=1, join="outer")
    
    return teams_df

def get_startingplayer_stats_by_game(players_df):
    
    batting_season_data = batting_stats(year)   
    pitching_season_data = pitching_stats(year)
    print(pitching_season_data.head()) 
    
    stats_players_start_lineup = pd.DataFrame()
    
    for row in range(0,len(players_df)):
               
        all_players_stats = pd.DataFrame()
        #all_players_stats["Date"] = players_df.loc[row,"Date"]
        #all_players_stats.reset_index(inplace=True)
        #print(all_players_stats)
               
        for player in players_df.iloc[row][6:]:
            
            if("00:00:00" in str(player)): continue #it gets the Date as first row by default. Skip it.
                
            try: player_bat_stats = batting_season_data[batting_season_data.Name == player].copy()
            except: 
                print("no name in batting list")
                continue
            """    
            try: 
                player_pitch_stats = pitching_season_data[pitching_season_data.Name == player].copy()
                print(f"SINGLE_PLAYER_STAT --------------\n{player_pitch_stats}")
            except: 
                print("no name in pitching list")
                continue
                """
                
            player_bat_stats.reset_index(inplace=True)
            #player_pitch_stats.reset_index(inplace=True)
            #print(f"ALL_PLAYER_pitcher_STAT ++++++++++++++\n{player_pitch_stats}")
            all_players_stats = pd.concat([ all_players_stats, player_bat_stats, 
                                           #player_pitch_stats
                                          ] , 
                                          axis=1)
            #print(f"SINGLE_PLAYER_STAT ##############\n{all_players_stats}")
            
        try: stats_players_start_lineup = stats_players_start_lineup.append(all_players_stats, ignore_index=True)
        except: 
            print("could not append ")
            continue
        
    
    return stats_players_start_lineup

In [722]:
def create_trining_df(year = (dt.datetime.today().year-1), team = "HOU" ):
                       
    
    players_df = get_players_per_game(year, team)
    #print(players_df.tail(10))    
    stats_players_start_lineup = get_startingplayer_stats_by_game(players_df)
    
    return pd.concat([players_df.iloc[:,[0,1,2,3,4,5]],stats_players_start_lineup], axis=1, join='inner')
       
    
    
    
    #dates_played = get_dates_played(last_season_games_played, year)

In [723]:
#format_dates_to_dt(un_date = "Sunday, Apr 23", year= 2018)

In [724]:
stats_players_start_lineup = create_trining_df()
stats_players_start_lineup

     Season              Name       Team   Age     W    L   ERA  WAR     G  \
41   2018.0      Jacob deGrom       Mets  30.0  10.0  9.0  1.70  9.0  32.0
92   2018.0      Max Scherzer  Nationals  33.0  18.0  7.0  2.53  7.5  33.0
91   2018.0  Justin Verlander     Astros  35.0  16.0  9.0  2.52  6.6  34.0
57   2018.0        Chris Sale    Red Sox  29.0  12.0  4.0  2.11  6.2  27.0
133  2018.0       Gerrit Cole     Astros  27.0  15.0  5.0  2.88  6.0  32.0

       GS  ...  wSL/C (pi)  wXX/C (pi)  O-Swing% (pi)  Z-Swing% (pi)  \
41   32.0  ...        2.25         NaN          0.367          0.661
92   33.0  ...        1.85         NaN          0.355          0.666
91   34.0  ...        0.48         NaN          0.336          0.656
57   27.0  ...        2.20         NaN          0.363          0.602
133  32.0  ...        0.53         NaN          0.315          0.650

     Swing% (pi)  O-Contact% (pi)  Z-Contact% (pi)  Contact% (pi)  Zone% (pi)  \
41         0.518            0.524            0.804          0.708       0.513
92         0.519            0.513            0.774          0.690       0.528
91         0.509            0.557            0.785          0.716       0.541
57         0.481            0.507            0.769          0.669       0.493
133        0.493            0.502            0.805          0.714       0.532

     Pace (pi)
41        21.9
92        24.2
91        27.0
57        22.7
133       23.7

[5 rows x 299 columns]
could not append

,Date,Tm,Home_Away,Opp,GB,Streak,index,Season,Name,Team,...,wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi)
0,NaT,NaN,NaN,NaN,NaN,NaN,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
1,2018-03-29,HOU,1.0,TEX,Tied,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
2,2018-03-30,HOU,1.0,TEX,0.5,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
3,2018-03-31,HOU,1.0,TEX,Tied,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
4,2018-04-01,HOU,1.0,TEX,Tied,2.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
5,2018-04-02,HOU,0.0,BAL,up 1.0,3.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
6,2018-04-03,HOU,0.0,BAL,up 1.0,4.0,84,2018.0,Jose Altuve,Astros,...,-0.65,NaN,0.205,0.640,0.431,0.340,0.772,0.673,0.519,22.9
7,2018-04-04,HOU,0.0,BAL,up 1.0,5.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
8,2018-04-06,HOU,0.0,SDP,Tied,-1.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
9,2018-04-07,HOU,0.0,SDP,up 1.0,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
10,2018-04-08,HOU,0.0,SDP,up 1.0,2.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
11,2018-04-09,HOU,1.0,MIN,up 1.0,3.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
12,2018-04-10,HOU,1.0,MIN,Tied,-1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
13,2018-04-11,HOU,1.0,MIN,1.0,-2.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
14,2018-04-13,HOU,0.0,TEX,1.5,1.0,84,2018.0,Jose Altuve,Astros,...,-0.65,NaN,0.205,0.640,0.431,0.340,0.772,0.673,0.519,22.9
15,2018-04-14,HOU,0.0,TEX,2.5,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
16,2018-04-15,HOU,0.0,TEX,3.0,-2.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
17,2018-04-16,HOU,1.0,SEA,3.5,-3.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
18,2018-04-17,HOU,1.0,SEA,2.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
19,2018-04-18,HOU,1.0,SEA,1.5,2.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
20,2018-04-19,HOU,1.0,SEA,0.5,3.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
21,2018-04-20,HOU,1.0,CHW,up 0.5,4.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
22,2018-04-21,HOU,1.0,CHW,up 0.5,5.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
23,2018-04-22,HOU,1.0,CHW,up 1.5,6.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
24,2018-04-23,HOU,0.0,LAA,up 0.5,-1.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
25,2018-04-24,HOU,0.0,LAA,0.5,-2.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
26,2018-04-25,HOU,0.0,LAA,up 0.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
27,2018-04-27,HOU,0.0,OAK,up 0.5,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
28,2018-04-28,HOU,0.0,OAK,up 1.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
29,2018-04-29,HOU,0.0,OAK,up 2.0,2.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2018-08-28,HOU,0.0,OAK,up 1.5,-1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
133,2018-08-29,HOU,0.0,OAK,up 2.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
134,2018-08-30,HOU,0.0,LAA,up 2.5,-1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
135,2018-08-31,HOU,0.0,LAA,up 1.5,-2.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
136,2018-09-01,HOU,0.0,LAA,up 2.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
137,2018-09-02,HOU,0.0,LAA,up 2.5,2.0,40,2018.0,Alex Bregman,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
138,2018-09-03,HOU,0.0,MIN,up 2.5,3.0,84,2018.0,Jose Altuve,Astros,...,2.62,NaN,0.217,0.609,0.413,0.693,0.878,0.829,0.500,27.1
139,2018-09-04,HOU,0.0,MIN,up 3.5,4.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
140,2018-09-05,HOU,0.0,MIN,up 3.5,5.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
141,2018-09-07,HOU,1.0,BOS,up 3.5,6.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
142,2018-09-08,HOU,1.0,BOS,up 3.5,7.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
143,2018-09-09,HOU,1.0,BOS,up 2.5,-1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
144,2018-09-10,HOU,1.0,DET,up 3.0,1.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
145,2018-09-11,HOU,1.0,DET,up 3.0,2.0,40,2018.0,Alex Bregman,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
146,2018-09-12,HOU,1.0,DET,up 3.0,3.0,84,2018.0,Jose Altuve,Astros,...,-2.10,NaN,0.383,0.636,0.508,0.577,0.847,0.745,0.496,28.4
147,2018-09-14,HOU,0.0,ARI,up 2.5,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
148,2018-09-15,HOU,0.0,ARI,up 3.5,1.0,84,2018.0,Jose Altuve,Astros,...,0.08,6.35,0.234,0.665,0.444,0.599,0.847,0.780,0.487,25.1
149,2018-09-16,HOU,0.0,ARI,up 4.5,2.0,84,2018.0,Jose Altuve,Astros,...,-3.02,NaN,0.364,0.697,0.515,0.509,0.775,0.672,0.453,23.7
150,2018-09-17,HOU,0.0,SEA,up 4.0,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
151,2018-09-18,HOU,0.0,SEA,up 5.0,1.0,84,2018.0,Jose Altuve,Astros,...,-3.02,NaN,0.364,0.697,0.515,0.509,0.775,0.672,0.453,23.7
152,2018-09-19,HOU,0.0,SEA,up 4.0,-1.0,84,2018.0,Jose Altuve,Astros,...,-0.39,NaN,0.105,0.619,0.375,1.000,1.000,1.000,0.525,20.2
153,2018-09-21,HOU,0.0,LAA,up 3.5,1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
154,2018-09-22,HOU,0.0,LAA,up 3.5,2.0,84,2018.0,Jose Altuve,Astros,...,-0.39,NaN,0.105,0.619,0.375,1.000,1.000,1.000,0.525,20.2
155,2018-09-23,HOU,0.0,LAA,up 4.5,3.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
156,2018-09-24,HOU,1.0,TOR,up 4.5,4.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5
157,2018-09-25,HOU,1.0,TOR,up 5.5,5.0,288,2018.0,Carlos Correa,Astros,...,2.62,NaN,0.217,0.609,0.413,0.693,0.878,0.829,0.500,27.1
158,2018-09-26,HOU,1.0,TOR,up 4.5,-1.0,84,2018.0,Jose Altuve,Astros,...,-4.34,NaN,0.272,0.563,0.410,0.681,0.866,0.802,0.476,23.9
159,2018-09-28,HOU,1.0,BAL,up 5.5,1.0,84,2018.0,Jose Altuve,Astros,...,-2.10,NaN,0.383,0.636,0.508,0.577,0.847,0.745,0.496,28.4
160,2018-09-29,HOU,1.0,BAL,up 6.0,2.0,84,2018.0,Jose Altuve,Astros,...,-2.10,NaN,0.383,0.636,0.508,0.577,0.847,0.745,0.496,28.4
161,2018-09-29,HOU,1.0,BAL,up 6.0,3.0,84,2018.0,Jose Altuve,Astros,...,0.72,NaN,0.294,0.622,0.445,0.721,0.903,0.838,0.461,23.5

In [693]:
stats_players_start_lineup.loc[2]["Name"]

Name        Jose Altuve
Name       Alex Bregman
Name      Carlos Correa
Name         J.D. Davis
Name       Derek Fisher
Name        Evan Gattis
Name    Marwin Gonzalez
Name     Jake Marisnick
Name       Brian McCann
Name: 2, dtype: object

In [714]:
pitching_stats_2019[pitching_stats_2019.Name == "Jacob deGrom"]

,Season,Name,Team,Age,W,L,ERA,WAR,G,GS,...,wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi)
85,2019.0,Jacob deGrom,Mets,31.0,11.0,8.0,2.43,7.0,32.0,32.0,...,2.24,NaN,0.365,0.696,0.529,0.536,0.791,0.702,0.495,24.2

In [715]:
stats_players_start_lineup["W"]

      W    W    W    W   W   W   W   W   W
0   NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
1   NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
2   NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
3   NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
4   NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
5   NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
6   NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN
7   NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
8   NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
9   NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
10  NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
11  NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
12  NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
13  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
14  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
15  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
16  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
17  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
18  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
19  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
20  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
21  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
22  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
23  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
24  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
25  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
26  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
27  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
28  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
29  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
..   ..  ...  ...  ...  ..  ..  ..  ..  ..
132 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
133 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
134 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
135 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
136 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
137 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
138 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
139 NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN
140 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
141 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
142 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
143 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
144 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
145 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
146 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
147 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
148 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
149 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
150 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
151 NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN
152 NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN
153 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
154 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
155 NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN
156 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
157 NaN  0.0  NaN  NaN NaN NaN NaN NaN NaN
158 NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
159 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
160 NaN  NaN  NaN  0.0 NaN NaN NaN NaN NaN
161 NaN  NaN  0.0  NaN NaN NaN NaN NaN NaN

[162 rows x 9 columns]