In [1]:
# Import libraries
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification

In [289]:
# Import csv path/file
csv_path = Path('../Project_2/Training_Data/2019_10_day.csv')
df = pd.read_csv(csv_path, index_col = 'Date')
csv_path_2 = Path('../10_Day_Lookback_2017.csv')
df_2 = pd.read_csv(csv_path_2)

In [290]:
df = df.replace([np.inf], 150)
df = df.replace([np.NaN], 0)
df = df.replace([-np.inf], -150)
df_2 = df_2.replace([np.inf], 150)
df_2 = df_2.replace([np.NaN], 0)
df_2 = df_2.replace([-np.inf], -150)

In [291]:
# Create our features
X = df.iloc[:, 10::]
# Create our target
y = df['home_win_loss']

In [292]:
X.head()

,Home_PitchingOBP_allowed,Home_PitchingSLG%_allowed,Visitor_PitchingK%,Visitor_PitchingBB%,Visitor_PitchingOBP_allowed,Visitor_PitchingSLG%_allowed,Home_HittingK%,Home_HittingBB%,Home_HittingOBP,Home_HittingSLG%,Visitor_HittingK%,Visitor_HittingBB%,Visitor_HittingOBP,Visitor_HittingSLG%
Date,,,,,,,,,,,,,,
2019-03-30,0.235294,0.258065,0.424242,0.030303,0.212121,0.193548,0.424242,0.030303,0.212121,0.193548,0.352941,0.088235,0.235294,0.258065
2019-03-30,0.361111,0.366667,0.243243,0.162162,0.351351,0.516129,0.243243,0.162162,0.351351,0.516129,0.250000,0.166667,0.361111,0.366667
2019-03-30,0.333333,0.432432,0.246154,0.061538,0.184615,0.305085,0.246154,0.061538,0.184615,0.305085,0.148148,0.086420,0.333333,0.432432
2019-03-30,0.353659,0.555556,0.194030,0.059701,0.298507,0.508197,0.194030,0.059701,0.298507,0.508197,0.253012,0.108434,0.353659,0.555556
2019-03-30,0.235294,0.269841,0.290323,0.080645,0.322581,0.418182,0.290323,0.080645,0.322581,0.418182,0.250000,0.058824,0.235294,0.269841

In [293]:
len(y)

2402

In [294]:
len(y[y == 1])

1271

In [295]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=9, 
                                                    stratify=y)
X_train.shape

(1801, 14)

In [296]:
X_train = X[:1159]
X_test = X[1160:]
y_train = y[:1159]
y_test = y[1160:]

In [297]:
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [298]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=9)

In [299]:
rf_model.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=9, verbose=0,
                       warm_start=False)

In [300]:
predictions = rf_model.predict(X_test_scaled)

In [301]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)

In [302]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          246          340
Actual 1          273          383

Accuracy Score : 0.5018183426288187
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.47      0.42      0.58      0.45      0.50      0.24       586
          1       0.53      0.58      0.42      0.56      0.50      0.25       656

avg / total       0.50      0.51      0.50      0.50      0.50      0.25      1242

In [303]:
importances = rf_model.feature_importances_

In [304]:
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.0768952304372194, 'Home_HittingK%'),
 (0.07641172467243727, 'Home_PitchingOBP_allowed'),
 (0.07474198832561914, 'Visitor_PitchingOBP_allowed'),
 (0.07325347382735718, 'Visitor_PitchingSLG%_allowed'),
 (0.07295745047612547, 'Visitor_HittingSLG%'),
 (0.07249858784603377, 'Visitor_HittingBB%'),
 (0.07187883584120112, 'Home_HittingBB%'),
 (0.07173734768986574, 'Home_HittingSLG%'),
 (0.07061482132584573, 'Visitor_PitchingK%'),
 (0.07051536587039384, 'Home_PitchingSLG%_allowed'),
 (0.06729844265937747, 'Visitor_HittingK%'),
 (0.06722332144108022, 'Visitor_PitchingBB%'),
 (0.06716070400751911, 'Visitor_HittingOBP'),
 (0.06681270557992451, 'Home_HittingOBP')]

In [305]:
clf = AdaBoostClassifier(n_estimators = 2500, random_state = 9)

In [306]:
clf.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=2500, random_state=9)

In [307]:
predictions = clf.predict(X_test)

In [308]:
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
acc_score = balanced_accuracy_score(y_test, predictions)

In [309]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          291          295
Actual 1          307          349

Accuracy Score : 0.5142996129193373
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.49      0.50      0.53      0.49      0.51      0.26       586
          1       0.54      0.53      0.50      0.54      0.51      0.27       656

avg / total       0.52      0.52      0.51      0.52      0.51      0.26      1242

In [310]:
actual_df = pd.DataFrame(y_test)
actual_df.reset_index(inplace = True)

In [311]:
predict_df = pd.DataFrame(predictions)
predict_df.head()

   0
0  1
1  0
2  1
3  1
4  1

In [312]:
actual_predict_df = pd.concat([actual_df,predict_df], axis = 1, join = 'inner')

In [313]:
actual_predict_df.set_index('Date',inplace = True)

In [314]:
actual_predict_df.columns = ['Actual','Predictions']

In [315]:
actual_predict_df.head()

            Actual  Predictions
Date
2019-06-25       1            1
2019-06-26       1            0
2019-06-26       0            1
2019-06-26       1            1
2019-06-26       0            1

In [316]:
odds_df_new = df[['home','visitor','home_open_odds','visitor_open_odds']][1160:]
odds_df_new.reset_index(inplace = True)
odds_df_new.drop(columns = ['Date'],inplace = True)

In [434]:
home_visitor_df = pd.concat([actual_df,predict_df, odds_df_new], axis = 1, join ='inner')

In [435]:
home_visitor_df.set_index('Date', inplace = True)

In [436]:
home_visitor_df.columns = ['Actual','Predicted','Home','Visitor','Home_Open_Odds','Visitor_Open_Odds']

In [437]:
home_visitor_df.head()

            Actual  Predicted Home Visitor Home_Open_Odds Visitor_Open_Odds
Date
2019-06-25       1          1  LAA     CIN           -150               130
2019-06-26       1          0  ARI     LOS            125              -145
2019-06-26       0          1  SFO     COL            115              -135
2019-06-26       1          1  PHI     NYM           -130               110
2019-06-26       0          1  MIA     WAS            160              -185

In [462]:
year = input()
csv_name = '../Project_2/Predictions_Vs_Actual/Predictions_Actual_' + year + '.csv'
csv_path = Path(csv_name)
df = pd.read_csv(csv_path, index_col = 'Date')
df.head()

 2017

            Actual  Predicted Home Visitor  Home_Open_Odds  Visitor_Open_Odds
Date
2017-07-06       1          1  TAM     BOS             134               -149
2017-07-06       1          1  MIN     BAL            -156                141
2017-07-06       0          1  SEA     OAK            -144                129
2017-07-06       1          1  DET     SFO            -111                101
2017-07-06       1          0  CLE     SDG            -184                164

In [464]:
def find_total_profits(df):
    # Convert open odds to integers
    df['Home_Open_Odds'] = df['Home_Open_Odds'].astype(int)
    df['Visitor_Open_Odds'] = df['Visitor_Open_Odds'].astype(int)

    # Pull in predicted win and predicted loss
    home_win = df[df['Predicted'] == 1]
    home_loss = df[df['Predicted'] == 0]

    # Grab instances where the predicted winner is the favorite to win
    home_win_fav = home_win[home_win['Home_Open_Odds'] < 0]
    home_loss_fav = home_loss[home_loss['Visitor_Open_Odds'] < 0]

    # Grab instances where the predicted winner is the underdog
    home_win_dog = home_win[home_win['Home_Open_Odds'] > 0]
    home_loss_dog = home_loss[home_loss['Visitor_Open_Odds'] > 0]

    # Grab instances where the favs were the actual winners and predicted winners
    home_win_fav_true = home_win_fav[home_win_fav['Actual'] == 1]
    home_win_fav_true['Home_Open_Odds'] = ((10000)/abs(home_win_fav_true['Home_Open_Odds']))
    home_loss_fav_true = home_loss_fav[home_loss_fav['Actual'] == 1]
    home_loss_fav_true['Visitor_Open_Odds'] = ((10000)/abs(home_loss_fav_true['Visitor_Open_Odds']))

    # Grab instances where the dogs were winners and predicted winners
    home_win_dog_true = home_win_dog[home_win_dog['Actual']==1]
    home_loss_dog_true = home_loss_dog[home_loss_dog['Actual']==0]

    # Grab instances where the dogs were losers, but predicted winners
    home_win_dog_false = home_win_dog[home_win_dog['Actual']==0]
    home_loss_dog_false = home_loss_dog[home_loss_dog['Actual']==1]

    # Grab instances where the favs were predicted winners but lost
    home_win_fav_false = home_win_fav[home_win_fav['Actual'] == 0]
    home_win_fav_false['Home_Open_Odds'] = -100
    home_loss_fav_false = home_loss_fav[home_loss_fav['Actual'] == 1]
    home_loss_fav_false['Visitor_Open_Odds'] = -100

    # Concatinate the dataframes
    bet_results_fav_win = pd.concat([home_win_fav_false, home_win_fav_true]) # Home Open Odds
    bet_results_fav_loss = pd.concat([home_loss_fav_false, home_loss_fav_true]) # Visitor Open Odds
    bet_results_dog_win = pd.concat([home_win_dog_true, home_win_dog_false]) # Home Open Odds
    bet_results_dog_loss = pd.concat([home_loss_dog_true, home_loss_dog_false]) # Visitor Open Odds

    # Sum up final wins/loss money lines
    fav_win_sum = bet_results_fav_win['Home_Open_Odds'].sum()
    fav_loss_sum = bet_results_fav_loss['Visitor_Open_Odds'].sum()
    dog_win_sum = bet_results_dog_win['Home_Open_Odds'].sum()
    dog_loss_sum = bet_results_dog_loss['Visitor_Open_Odds'].sum()
    final_sum = fav_win_sum + fav_loss_sum + dog_win_sum + dog_loss_sum
    return final_sum

In [465]:
# Convert open odds to integers
df['Home_Open_Odds'] = df['Home_Open_Odds'].astype(int)
df['Visitor_Open_Odds'] = df['Visitor_Open_Odds'].astype(int)

# Pull in predicted win and predicted loss
home_win = df[df['Predicted'] == 1]
home_loss = df[df['Predicted'] == 0]

# Grab instances where the predicted winner is the favorite to win
home_win_fav = home_win[home_win['Home_Open_Odds'] < 0]
home_loss_fav = home_loss[home_loss['Visitor_Open_Odds'] < 0]

# Grab instances where the predicted winner is the underdog
home_win_dog = home_win[home_win['Home_Open_Odds'] > 0]
home_loss_dog = home_loss[home_loss['Visitor_Open_Odds'] > 0]

# Grab instances where the favs were the actual winners and predicted winners
home_win_fav_true = home_win_fav[home_win_fav['Actual'] == 1]
home_win_fav_true['Home_Open_Odds'] = ((10000)/abs(home_win_fav_true['Home_Open_Odds']))
home_loss_fav_true = home_loss_fav[home_loss_fav['Actual'] == 1]
home_loss_fav_true['Visitor_Open_Odds'] = ((10000)/abs(home_loss_fav_true['Visitor_Open_Odds']))

# Grab instances where the dogs were winners and predicted winners
home_win_dog_true = home_win_dog[home_win_dog['Actual']==1]
home_loss_dog_true = home_loss_dog[home_loss_dog['Actual']==0]

# Grab instances where the dogs were losers, but predicted winners
home_win_dog_false = home_win_dog[home_win_dog['Actual']==0]
home_loss_dog_false = home_loss_dog[home_loss_dog['Actual']==1]

# Grab instances where the favs were predicted winners but lost
home_win_fav_false = home_win_fav[home_win_fav['Actual'] == 0]
home_win_fav_false['Home_Open_Odds'] = -100
home_loss_fav_false = home_loss_fav[home_loss_fav['Actual'] == 1]
home_loss_fav_false['Visitor_Open_Odds'] = -100

# Concatinate the dataframes
bet_results_fav_win = pd.concat([home_win_fav_false, home_win_fav_true]) # Home Open Odds
print(bet_results_fav_win)
bet_results_fav_loss = pd.concat([home_loss_fav_false, home_loss_fav_true]) # Visitor Open Odds
print(bet_results_fav_loss)
bet_results_dog_win = pd.concat([home_win_dog_true, home_win_dog_false]) # Home Open Odds
print(bet_results_dog_win)
bet_results_dog_loss = pd.concat([home_loss_dog_true, home_loss_dog_false]) # Visitor Open Odds
print(bet_results_dog_loss)

# Sum up final wins/loss money lines
fav_win_sum = bet_results_fav_win['Home_Open_Odds'].sum()
fav_loss_sum = bet_results_fav_loss['Visitor_Open_Odds'].sum()
dog_win_sum = bet_results_dog_win['Home_Open_Odds'].sum()
dog_loss_sum = bet_results_dog_loss['Visitor_Open_Odds'].sum()
final_sum = fav_win_sum + fav_loss_sum + dog_win_sum + dog_loss_sum

            Actual  Predicted Home Visitor  Home_Open_Odds  Visitor_Open_Odds
Date
2017-07-06       0          1  SEA     OAK     -100.000000                129
2017-07-06       0          1  CUB     MIL     -100.000000                141
2017-07-07       0          1  STL     NYM     -100.000000                107
2017-07-07       0          1  SFO     MIA     -100.000000               -107
2017-07-08       0          1  WAS     ATL     -100.000000                179
2017-07-08       0          1  CUB     PIT     -100.000000                160
2017-07-08       0          1  ARI     CIN     -100.000000                155
2017-07-08       0          1  MIN     BAL     -100.000000                125
2017-07-08       0          1  SEA     OAK     -100.000000                151
2017-07-08       0          1  COL     CWS     -100.000000                129
2017-07-09       0          1  ARI     CIN     -100.000000                141
2017-07-09       0          1  MIN     BAL     -100.000000                109
2017-07-09       0          1  TEX     LAA     -100.000000                162
2017-07-09       0          1  CLE     DET     -100.000000                197
2017-07-15       0          1  PIT     STL     -100.000000                113
2017-07-15       0          1  BOS     NYY     -100.000000                155
2017-07-15       0          1  KAN     TEX     -100.000000               -108
2017-07-15       0          1  LAA     TAM     -100.000000               -103
2017-07-17       0          1  NYM     STL     -100.000000                108
2017-07-17       0          1  KAN     DET     -100.000000                140
2017-07-18       0          1  MIA     PHI     -100.000000                125
2017-07-19       0          1  MIA     PHI     -100.000000                170
2017-07-21       0          1  CUB     STL     -100.000000                134
2017-07-21       0          1  CIN     MIA     -100.000000                103
2017-07-21       0          1  SFO     SDG     -100.000000                136
2017-07-21       0          1  MIN     DET     -100.000000                113
2017-07-21       0          1  SEA     NYY     -100.000000                105
2017-07-22       0          1  CIN     MIA     -100.000000               -104
2017-07-23       0          1  SFO     SDG     -100.000000                111
2017-07-23       0          1  TAM     TEX     -100.000000                138
...            ...        ...  ...     ...             ...                ...
2017-09-22       1          1  ARI     MIA       40.816327                215
2017-09-22       1          1  LOS     SFO       43.478261                205
2017-09-22       1          1  HOU     LAA       58.823529                150
2017-09-23       1          1  ATL     PHI       57.142857                155
2017-09-23       1          1  OAK     TEX       76.335878                116
2017-09-24       1          1  LOS     SFO       33.333333                260
2017-09-24       1          1  ARI     MIA       54.054054                165
2017-09-24       1          1  OAK     TEX       86.206897                106
2017-09-26       1          1  MIL     CIN       51.282051                175
2017-09-26       1          1  ARI     SFO       45.454545                195
2017-09-26       1          1  LOS     SDG       42.553191                205
2017-09-26       1          1  NYY     TAM       62.500000                140
2017-09-26       1          1  KAN     DET       55.555556                160
2017-09-27       1          1  COL     MIA       54.054054                165
2017-09-27       1          1  BOS     TOR       57.142857                155
2017-09-27       1          1  KAN     DET       55.248619                161
2017-09-27       1          1  PIT     BAL       83.333333                110
2017-09-28       1          1  CLE     MIN       36.363636                240
2017-09-29       1          1  PHI     NYM       74.074074                120
2017-09-29       1          1  MIA     ATL       66.666667                135
2017-09-29       1          1  COL     LOS       99.009901               -109
2017-09-29       1          1  TAM     BAL       64.102564                141
2017-09-29       1          1  CLE     CWS       34.482759                255
2017-09-29       1          1  TEX     OAK       86.956522                105
2017-09-30       1          1  TAM     BAL       57.142857                155
2017-09-30       1          1  BOS     HOU       95.238095               -105
2017-09-30       1          1  TEX     OAK       74.074074                120
2017-10-01       1          1  PHI     NYM       86.956522                105
2017-10-01       1          1  SFO     SDG       71.428571                125
2017-10-01       1          1  MIN     DET       66.666667                135

[391 rows x 6 columns]
            Actual  Predicted Home Visitor  Home_Open_Odds  Visitor_Open_Odds
Date
2017-07-07       1          0  MIN     BAL             105        -100.000000
2017-07-08       1          0  TOR     HOU             104        -100.000000
2017-07-09       1          0  PHI     SDG            -102        -100.000000
2017-07-09       1          0  TAM     BOS            -101        -100.000000
2017-07-14       1          0  ATL     ARI             103        -100.000000
2017-07-14       1          0  OAK     CLE             137        -100.000000
2017-07-16       1          0  ATL     ARI            -109        -100.000000
2017-07-18       1          0  SFO     CLE             116        -100.000000
2017-07-19       1          0  SFO     CLE             176        -100.000000
2017-07-19       1          0  LAA     WAS             112        -100.000000
2017-07-20       1          0  KAN     DET            -108        -100.000000
2017-07-22       1          0  MIN     DET            -106        -100.000000
2017-07-23       1          0  BAL     HOU             130        -100.000000
2017-07-23       1          0  LAA     BOS             114        -100.000000
2017-07-26       1          0  SDG     NYM             112        -100.000000
2017-07-26       1          0  PHI     HOU             114        -100.000000
2017-07-28       1          0  SDG     PIT             127        -100.000000
2017-07-29       1          0  SDG     PIT             116        -100.000000
2017-07-29       1          0  DET     HOU             116        -100.000000
2017-07-29       1          0  OAK     MIN            -106        -100.000000
2017-07-29       1          0  SEA     NYM             140        -100.000000
2017-07-30       1          0  WAS     COL             105        -100.000000
2017-07-31       1          0  CWS     TOR             140        -100.000000
2017-08-01       1          0  MIL     STL            -101        -100.000000
2017-08-01       1          0  SDG     MIN            -104        -100.000000
2017-08-02       1          0  ATL     LOS             145        -100.000000
2017-08-04       1          0  CIN     STL             116        -100.000000
2017-08-04       1          0  ATL     MIA            -105        -100.000000
2017-08-05       1          0  SFO     ARI             125        -100.000000
2017-08-08       1          0  SFO     CUB             155        -100.000000
...            ...        ...  ...     ...             ...                ...
2017-09-05       1          0  DET     KAN             130          68.965517
2017-09-06       1          0  ATL     TEX             105          86.956522
2017-09-07       1          0  NYM     CIN             105          86.956522
2017-09-08       1          0  TEX     NYY             135          66.666667
2017-09-08       1          0  OAK     HOU             150          58.823529
2017-09-09       1          0  OAK     HOU             150          58.823529
2017-09-09       1          0  OAK     HOU             150          58.823529
2017-09-10       1          0  ATL     MIA            -109          99.009901
2017-09-10       1          0  OAK     HOU             170          52.631579
2017-09-12       1          0  TOR     BAL             112          78.740157
2017-09-12       1          0  TAM     NYY             131          68.493151
2017-09-13       1          0  LAA     HOU             111          82.644628
2017-09-16       1          0  MIA     MIL             135          66.666667
2017-09-17       1          0  SFO     ARI             140          64.516129
2017-09-18       1          0  PHI     LOS             295          29.411765
2017-09-18       1          0  SDG     ARI             145          60.606061
2017-09-20       1          0  PHI     LOS             211          41.493776
2017-09-20       1          0  PIT     MIL            -108          98.039216
2017-09-21       1          0  ATL     WAS             120          74.074074
2017-09-22       1          0  TOR     NYY             140          64.516129
2017-09-22       1          0  CWS     KAN             111          79.365079
2017-09-23       1          0  PIT     STL             111          79.365079
2017-09-23       1          0  MIL     CUB             125          71.428571
2017-09-23       1          0  SDG     COL             105          86.956522
2017-09-24       1          0  CWS     KAN             101          90.090090
2017-09-26       1          0  PHI     WAS             135          66.666667
2017-09-26       1          0  NYM     ATL            -105          95.238095
2017-09-26       1          0  STL     CUB            -108          98.039216
2017-09-29       1          0  KAN     ARI             130          68.965517
2017-09-30       1          0  KAN     ARI             104          87.719298

[164 rows x 6 columns]
            Actual  Predicted Home Visitor  Home_Open_Odds  Visitor_Open_Odds
Date
2017-07-06       1          1  TAM     BOS             134               -149
2017-07-15       1          1  SDG     SFO             137               -152
2017-07-15       1          1  OAK     CLE             165               -185
2017-07-16       1          1  PIT     STL             118               -133
2017-07-16       1          1  SDG     SFO             107               -117
2017-07-16       1          1  KAN     TEX             105               -115
2017-07-16       1          1  LAA     TAM             126               -141
2017-07-16       1          1  OAK     CLE             102               -112
2017-07-17       1          1  MIN     NYY             107               -117
2017-07-19       1          1  CIN     ARI             131               -146
2017-07-19       1          1  MIN     NYY             102               -112
2017-07-19       1          1  KAN     DET             106               -116
2017-07-20       1          1  BAL     TEX             106               -116
2017-07-21       1          1  ARI     WAS             126               -141
2017-07-22       1          1  LAA     BOS             122               -137
2017-07-22       1          1  SEA     NYY             116               -131
2017-07-25       1          1  TOR     OAK             109               -119
2017-07-25       1          1  SEA     BOS             109               -119
2017-07-27       1          1  SDG     NYM             101               -111
2017-07-28       1          1  PHI     ATL             111               -126
2017-07-28       1          1  MIA     CIN             109               -119
2017-07-28       1          1  MIL     CUB             121               -136
2017-07-30       1          1  DET     HOU             116               -131
2017-07-30       1          1  CWS     CLE             170               -190
2017-07-31       1          1  BAL     KAN             114               -129
2017-07-31       1          1  BOS     CLE             120               -135
2017-08-01       1          1  MIA     WAS             175               -200
2017-08-02       1          1  MIA     WAS             110               -125
2017-08-03       1          1  MIL     STL             111               -121
2017-08-04       1          1  MIN     TEX             110               -120
...            ...        ...  ...     ...             ...                ...
2017-09-18       0          1  PIT     MIL             105               -115
2017-09-19       0          1  DET     OAK             111               -121
2017-09-19       0          1  LAA     CLE             112               -127
2017-09-20       0          1  SDG     ARI             138               -153
2017-09-21       0          1  PHI     LOS             190               -215
2017-09-21       0          1  MIL     CUB             116               -131
2017-09-21       0          1  DET     MIN             130               -145
2017-09-22       0          1  SDG     COL             145               -165
2017-09-22       0          1  CIN     BOS             130               -145
2017-09-23       0          1  LOS     SFO             101               -111
2017-09-23       0          1  TOR     NYY             155               -175
2017-09-23       0          1  SEA     CLE             175               -200
2017-09-23       0          1  CWS     KAN             151               -171
2017-09-23       0          1  CIN     BOS             125               -140
2017-09-24       0          1  NYM     WAS             155               -175
2017-09-24       0          1  SDG     COL             120               -135
2017-09-24       0          1  SEA     CLE             195               -220
2017-09-24       0          1  CIN     BOS             125               -140
2017-09-25       0          1  TEX     HOU             114               -129
2017-09-25       0          1  OAK     SEA             111               -126
2017-09-26       0          1  CWS     LAA             145               -165
2017-09-26       0          1  OAK     SEA             111               -121
2017-09-27       0          1  TEX     HOU             170               -190
2017-09-28       0          1  TEX     OAK             105               -115
2017-09-29       0          1  STL     MIL             123               -138
2017-09-29       0          1  BOS     HOU             102               -112
2017-09-30       0          1  SFO     SDG             100               -110
2017-09-30       0          1  PHI     NYM             130               -145
2017-09-30       0          1  COL     LOS             165               -185
2017-10-01       0          1  COL     LOS             120               -135

[213 rows x 6 columns]
            Actual  Predicted Home Visitor  Home_Open_Odds  Visitor_Open_Odds
Date
2017-07-07       0          0  PHI     SDG            -140                125
2017-07-07       0          0  NYY     MIL            -190                170
2017-07-08       0          0  PHI     SDG            -131                116
2017-07-08       0          0  SFO     MIA            -155                140
2017-07-09       0          0  CUB     PIT            -176                156
2017-07-09       0          0  TOR     HOU            -128                113
2017-07-09       0          0  NYY     MIL            -146                131
2017-07-14       0          0  DET     TOR            -123                113
2017-07-14       0          0  KAN     TEX            -126                111
2017-07-15       0          0  HOU     MIN            -155                140
2017-07-16       0          0  NYM     COL            -134                119
2017-07-16       0          0  MIL     PHI            -164                144
2017-07-16       0          0  BOS     NYY            -150                135
2017-07-17       0          0  BOS     TOR            -130                115
2017-07-17       0          0  HOU     SEA            -195                175
2017-07-18       0          0  KAN     DET            -116                106
2017-07-19       0          0  HOU     SEA            -126                111
2017-07-20       0          0  LOS     ATL            -220                195
2017-07-20       0          0  SFO     SDG            -205                180
2017-07-20       0          0  BOS     TOR            -127                112
2017-07-21       0          0  COL     PIT            -150                135
2017-07-21       0          0  LOS     ATL            -285                250
2017-07-22       0          0  TAM     TEX            -200                175
2017-07-23       0          0  SEA     NYY            -117                107
2017-07-24       0          0  TAM     BAL            -127                112
2017-07-24       0          0  CUB     CWS            -240                210
2017-07-24       0          0  TEX     MIA            -155                140
2017-07-25       0          0  WAS     MIL            -124                114
2017-07-25       0          0  ARI     ATL            -140                125
2017-07-27       0          0  STL     ARI            -115                105
...            ...        ...  ...     ...             ...                ...
2017-09-21       1          0  BAL     TAM            -123                113
2017-09-22       1          0  NYM     WAS            -140                125
2017-09-22       1          0  ATL     PHI            -121                111
2017-09-22       1          0  OAK     TEX            -129                114
2017-09-23       1          0  HOU     LAA            -165                145
2017-09-24       1          0  TOR     NYY            -150                135
2017-09-25       1          0  NYM     ATL            -131                116
2017-09-25       1          0  LOS     SDG            -270                235
2017-09-25       1          0  NYY     KAN            -170                150
2017-09-26       1          0  COL     MIA            -155                140
2017-09-27       1          0  ARI     SFO            -150                135
2017-09-27       1          0  NYM     ATL            -116                106
2017-09-27       1          0  LOS     SDG            -205                180
2017-09-27       1          0  OAK     SEA            -121                111
2017-09-27       1          0  NYY     TAM            -270                235
2017-09-27       1          0  CLE     MIN            -165                145
2017-09-28       1          0  MIL     CIN            -165                145
2017-09-28       1          0  WAS     PIT            -150                135
2017-09-29       1          0  CUB     CIN            -185                165
2017-09-29       1          0  WAS     PIT            -190                170
2017-09-29       1          0  SFO     SDG            -135                120
2017-09-29       1          0  NYY     TOR            -235                205
2017-09-29       1          0  MIN     DET            -175                155
2017-09-29       1          0  LAA     SEA            -165                145
2017-09-30       1          0  CUB     CIN            -215                190
2017-09-30       1          0  STL     MIL            -150                135
2017-09-30       1          0  MIA     ATL            -123                113
2017-09-30       1          0  NYY     TOR            -165                145
2017-10-01       1          0  TAM     BAL            -121                111
2017-10-01       1          0  CLE     CWS            -195                175

[340 rows x 6 columns]

In [335]:
home_win['Home_Open_Odds'] = home_win['Home_Open_Odds'].astype(int)

In [343]:
home_win_dog_pred = home_win[home_win['Home_Open_Odds'] > 0]

In [356]:
home_win_dog = home_win[home_win['Predicted'] == 1]

In [357]:
home_win_dog_pred_win = home_win_dog_pred[home_win_dog_pred['Actual'] == 0]

In [358]:
home_win_dog_pred_loss.head()

            Actual  Predicted Home Visitor  Home_Open_Odds Visitor_Open_Odds
Date
2019-06-26       0          1  SFO     COL             115              -135
2019-06-26       0          1  MIA     WAS             160              -185
2019-06-26       0          1  DET     TEX             115              -135
2019-06-26       0          1  BAL     SDG             130              -150
2019-06-27       0          1  COL     LOS             151              -175

In [378]:
home_win_fav = home_win_dog[home_win_dog['Home_Open_Odds'] < 0]
home_win_fav.head()

            Actual  Predicted Home Visitor  Home_Open_Odds Visitor_Open_Odds
Date
2019-06-25       1          1  LAA     CIN            -150               130
2019-06-26       1          1  PHI     NYM            -130               110
2019-06-26       0          1  CUB     ATL            -125               105
2019-06-26       1          1  NYY     TOR            -265               218
2019-06-26       1          1  CLE     KAN            -205               172

In [385]:
home_win_fav_true = home_win_fav[home_win_fav['Actual'] == 1]
home_win_fav_true['Home_Open_Odds'] = ((10000)/abs(home_win_fav_true['Home_Open_Odds']))

In [419]:
home_win_fav_true.head()

            Actual  Predicted Home Visitor  Home_Open_Odds Visitor_Open_Odds
Date
2019-06-25       1          1  LAA     CIN       66.666667               130
2019-06-26       1          1  PHI     NYM       76.923077               110
2019-06-26       1          1  NYY     TOR       37.735849               218
2019-06-26       1          1  CLE     KAN       48.780488               172
2019-06-27       1          1  PHI     NYM       71.428571               120

In [386]:
home_win_fav_false = home_win_fav[home_win_fav['Actual'] == 0]
home_win_fav_false.head()
home_win_fav_false['Home_Open_Odds'] = -100

In [389]:
bet_results_fav = pd.concat([home_win_fav_false, home_win_fav_true])

In [420]:
bet_results_fav.tail()

            Actual  Predicted Home Visitor  Home_Open_Odds Visitor_Open_Odds
Date
2019-09-26       1          1  TEX     BOS       95.238095              -105
2019-09-27       1          1  PHI     MIA       55.555556               155
2019-09-27       1          1  NYM     ATL       84.033613              -101
2019-09-28       1          1  WAS     CLE       50.000000               170
2019-09-29       1          1  STL     CUB       35.714286               230

In [421]:
bet_results_fav['Home_Open_Odds'].sum()

-766.0513122555149

In [422]:
home_win_dog = home_win_dog[home_win_dog['Home_Open_Odds'] > 0]

In [423]:
home_win_dog_true = home_win_dog[home_win_dog['Actual']==1]
home_win_dog_false = home_win_dog[home_win_dog['Actual']==0]

In [424]:
home_win_dog_true['Home_Open_Odds'] = home_win_dog_true['Home_Open_Odds']
home_win_dog_false['Home_Open_Odds'] = -100

In [425]:
home_win_dog_true['Home_Open_Odds'].sum() + home_win_dog_false['Home_Open_Odds'].sum()

-1389

In [426]:
bet_results_dog = pd.concat([home_win_dog_true, home_win_dog_false])

In [427]:
bet_results_total_100 = pd.concat([bet_results_dog,bet_results_fav])

In [428]:
bet_results_total_100['Home_Open_Odds'].sum()

-2155.051312255513