In [1]:
from path import Path
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [5]:
csv_path = Path('mlb_odds_2018.csv')
df= pd.read_csv(csv_path)
df.head(10)

,Date,Rot,VH,Team,Pitcher,1st,2nd,3rd,4th,5th,...,9th,Final,Open,Close,Run Line,Unnamed: 18,Open OU,Unnamed: 20,Close OU,Unnamed: 22
0,329,901,V,CUB,JLESTER-L,3,1,0,1,0,...,0,8,-175,-200.0,-1.5,-125,8.0,-105,8.0,-120
1,329,902,H,MIA,JURENA-R,1,0,3,0,0,...,0,4,155,175.0,1.5,105,8.0,-115,8.0,100
2,329,903,V,STL,CMARTINEZ-R,0,2,0,1,0,...,0,4,110,123.0,1.5,-185,7.0,-106,6.5,-125
3,329,904,H,NYM,NSYNDERGAARD-R,1,2,0,0,5,...,x,9,-125,-138.0,-1.5,160,7.0,-114,6.5,105
4,329,907,V,PHI,ANOLA-R,1,0,0,0,0,...,0,5,-125,-131.0,-1.5,125,8.0,-110,8.0,-119
5,329,908,H,ATL,JTEHERAN-R,0,0,0,0,0,...,3,8,110,116.0,1.5,-145,8.0,-110,8.0,-101
6,329,909,V,MIL,CANDERSON-R,0,0,1,0,0,...,0,2,-115,-131.0,-1.5,130,8.0,-110,8.0,-115
7,329,910,H,SDG,CRICHARD-L,0,0,0,0,0,...,1,1,105,116.0,1.5,-150,8.0,-110,8.0,-105
8,329,911,V,SFO,TBLACH-L,0,0,0,0,1,...,0,1,260,266.0,1.5,125,7.0,100,7.5,-116
9,329,912,H,LAD,CKERSHAW-L,0,0,0,0,0,...,0,0,-300,-306.0,-1.5,-145,7.0,-120,7.5,-104

In [6]:
df= df[["Date", "VH", "Team", "Pitcher","Open", "Close"]]

In [7]:
df["Date"]= df["Date"].astype(str).apply(lambda x: x[:-2] + "-" + x[-2:] + "-2019")

In [8]:
df["Date"]= pd.to_datetime(df["Date"])

In [9]:
df.head()

        Date VH Team         Pitcher  Open  Close
0 2019-03-29  V  CUB       JLESTER-L  -175 -200.0
1 2019-03-29  H  MIA        JURENA-R   155  175.0
2 2019-03-29  V  STL     CMARTINEZ-R   110  123.0
3 2019-03-29  H  NYM  NSYNDERGAARD-R  -125 -138.0
4 2019-03-29  V  PHI         ANOLA-R  -125 -131.0

In [17]:
df["Pitcher"]= df["Pitcher"].astype(str).apply(lambda x: x[:-2])

In [20]:
df["Close"]= df["Close"].astype(int)

In [22]:
df.to_csv("mlb_odds_2018.csv")